<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.programacionintegral.almacen">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE " />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Login">
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.programacionintegral.almacen.MainActivity" />
        </activity>


        <activity android:name=".ConfiguracionVer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.programacionintegral.almacen.MainActivity" />
        </activity>


        <activity
            android:name=".conteoDiario"
            android:label="@string/title_activity_conteo_diario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CrearPDF"
            android:label="@string/title_activity_crearpdf"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Consultar"
            android:label="@string/title_activity_consultar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Captura_Inventario"
            android:label="@string/title_activity_captura__inventario"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.programacionintegral.almacen.MainActivity" />
        </activity>
        <activity
            android:name=".Pendientes"
            android:label="@string/title_activity_consultar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.programacionintegral.almacen.MainActivity" />
        </activity>
        <activity android:name=".RecibirSurtido" />
        <activity
            android:name=".Resumen"
            android:label="@string/title_activity_resumen"
            android:parentActivityName=".Surtir"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.programacionintegral.almacen.MainActivity" />
        </activity>
        <activity
            android:name=".Surtir"
            android:label="@string/title_activity_surtir"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.programacionintegral.almacen.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>